.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  background-color: white;
  color: black;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #e2e8f0;
}

.news-card {
  transition: transform 0.3s ease-in-out;
}

.news-card:hover {
  transform: translateY(-5px);
}


/* Toggle Switch Styling */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;  /* Ukuran lebih kecil */
  height: 22px; /* Ukuran lebih kecil */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;  /* Ukuran bulatan lebih kecil */
  width: 16px;   /* Ukuran bulatan lebih kecil */
  left: 3px;     /* Sesuaikan posisi */
  bottom: 3px;   /* Sesuaikan posisi */
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(18px); /* Sesuaikan jarak geser */
}

.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}